body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:108px;
}
#u8167 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:789px;
  width:323px;
  height:108px;
  color:#00CC66;
  text-align:right;
}
#u8167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:319px;
  word-wrap:break-word;
}
#u8168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8168 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:72px;
  width:110px;
  height:70px;
}
#u8168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u8169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8169 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:232px;
  width:100px;
  height:60px;
}
#u8169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8170 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:232px;
  width:100px;
  height:60px;
}
#u8170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:366px;
  width:100px;
  height:60px;
}
#u8171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:366px;
  width:100px;
  height:60px;
}
#u8172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:366px;
  width:100px;
  height:60px;
}
#u8173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:82px;
  width:523px;
  height:120px;
  color:#336699;
}
#u8174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:142px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8175_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u8175_seg1 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:45px;
  width:139px;
  height:8px;
}
#u8175_seg2 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:45px;
  width:8px;
  height:45px;
}
#u8175_seg3 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:64px;
  width:40px;
  height:40px;
}
#u8175_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:142px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8176_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u8176_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:45px;
  width:144px;
  height:8px;
}
#u8176_seg2 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:45px;
  width:8px;
  height:45px;
}
#u8176_seg3 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:64px;
  width:40px;
  height:40px;
}
#u8176_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:292px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
}
#u8177_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u8177_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:48px;
  width:40px;
  height:40px;
}
#u8177_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:292px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8178_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u8178_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:34px;
  width:71px;
  height:8px;
}
#u8178_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:34px;
  width:8px;
  height:40px;
}
#u8178_seg3 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:48px;
  width:40px;
  height:40px;
}
#u8178_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8179 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:292px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u8179_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:34px;
  width:91px;
  height:8px;
}
#u8179_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:34px;
  width:8px;
  height:40px;
}
#u8179_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:48px;
  width:40px;
  height:40px;
}
#u8179_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:506px;
  width:110px;
  height:70px;
}
#u8180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:426px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8181_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u8181_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:31px;
  width:185px;
  height:8px;
}
#u8181_seg2 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:31px;
  width:8px;
  height:49px;
}
#u8181_seg3 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:54px;
  width:40px;
  height:40px;
}
#u8181_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8182 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:426px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8182_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u8182_seg1 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:31px;
  width:35px;
  height:8px;
}
#u8182_seg2 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:31px;
  width:8px;
  height:49px;
}
#u8182_seg3 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:54px;
  width:40px;
  height:40px;
}
#u8182_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:426px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u8183_seg1 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:31px;
  width:181px;
  height:8px;
}
#u8183_seg2 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:31px;
  width:8px;
  height:49px;
}
#u8183_seg3 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:54px;
  width:40px;
  height:40px;
}
#u8183_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:560px;
  width:523px;
  height:140px;
  color:#336699;
}
#u8184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u8185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:681px;
  width:100px;
  height:60px;
}
#u8185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:681px;
  width:100px;
  height:60px;
}
#u8186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:681px;
  width:100px;
  height:60px;
}
#u8187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:576px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u8188_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:48px;
}
#u8188_seg2 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:41px;
  width:185px;
  height:8px;
}
#u8188_seg3 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:41px;
  width:8px;
  height:64px;
}
#u8188_seg4 {
  border-width:0px;
  position:absolute;
  left:-197px;
  top:79px;
  width:40px;
  height:40px;
}
#u8188_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:576px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8189_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u8189_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:48px;
}
#u8189_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:41px;
  width:35px;
  height:8px;
}
#u8189_seg3 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:41px;
  width:8px;
  height:64px;
}
#u8189_seg4 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:79px;
  width:40px;
  height:40px;
}
#u8189_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:576px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8190_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u8190_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:48px;
}
#u8190_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:41px;
  width:181px;
  height:8px;
}
#u8190_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:41px;
  width:8px;
  height:64px;
}
#u8190_seg4 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:79px;
  width:40px;
  height:40px;
}
#u8190_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1320px;
  width:110px;
  height:70px;
}
#u8191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u8192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:943px;
  width:100px;
  height:60px;
}
#u8192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:819px;
  width:100px;
  height:60px;
}
#u8193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:819px;
  width:100px;
  height:60px;
}
#u8194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:506px;
  width:110px;
  height:70px;
}
#u8195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:741px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8196_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u8196_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:52px;
  width:40px;
  height:40px;
}
#u8196_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:741px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8197_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u8197_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:52px;
  width:40px;
  height:40px;
}
#u8197_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1120px;
  width:100px;
  height:60px;
}
#u8198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:741px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8199_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:167px;
}
#u8199_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:159px;
  width:185px;
  height:8px;
}
#u8199_seg2 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:159px;
  width:8px;
  height:43px;
}
#u8199_seg3 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:176px;
  width:40px;
  height:40px;
}
#u8199_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:155px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:879px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8200_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u8200_seg1 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:20px;
  width:35px;
  height:8px;
}
#u8200_seg2 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:20px;
  width:8px;
  height:44px;
}
#u8200_seg3 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:38px;
  width:40px;
  height:40px;
}
#u8200_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:879px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8201_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u8201_seg1 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:21px;
  width:181px;
  height:8px;
}
#u8201_seg2 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:21px;
  width:8px;
  height:43px;
}
#u8201_seg3 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:38px;
  width:40px;
  height:40px;
}
#u8201_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8202 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1003px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8202_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u8202_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:91px;
  width:40px;
  height:40px;
}
#u8202_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1150px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u8203_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:224px;
  height:8px;
}
#u8203_seg1 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-311px;
  width:8px;
  height:315px;
}
#u8203_seg2 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-311px;
  width:23px;
  height:8px;
}
#u8203_seg3 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:-327px;
  width:40px;
  height:40px;
}
#u8203_text {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-103px;
  width:100px;
  word-wrap:break-word;
}
#u8204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8204 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1115px;
  width:110px;
  height:70px;
  color:#993333;
}
#u8204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1150px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CC0033;
}
#u8205_seg0 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-4px;
  width:183px;
  height:8px;
}
#u8205_seg1 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:-20px;
  width:40px;
  height:40px;
}
#u8205_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:262px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8206_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:171px;
  height:8px;
}
#u8206_seg1 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:-20px;
  width:40px;
  height:40px;
}
#u8206_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u8207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8207 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:227px;
  width:110px;
  height:70px;
}
#u8207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u8208 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:262px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8208_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u8208_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-20px;
  width:40px;
  height:40px;
}
#u8208_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u8209 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:476px;
  width:1200px;
  height:1px;
}
#u8209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#99CCFF;
}
#u8210 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:487px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#99CCFF;
}
#u8210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u8211 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:801px;
  width:1200px;
  height:1px;
}
#u8211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#99CCFF;
}
#u8212 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:812px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#99CCFF;
}
#u8212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:1210px;
  width:1200px;
  height:1px;
}
#u8213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#99CCFF;
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:1221px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#99CCFF;
}
#u8214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:943px;
  width:523px;
  height:200px;
  color:#336699;
}
#u8215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u8216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1491px;
  width:110px;
  height:70px;
}
#u8216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1390px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#996666;
}
#u8217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:105px;
}
#u8217_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:75px;
  width:40px;
  height:40px;
}
#u8217_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1180px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CC0033;
}
#u8218_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:105px;
}
#u8218_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:97px;
  width:142px;
  height:8px;
}
#u8218_seg2 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:97px;
  width:8px;
  height:43px;
}
#u8218_seg3 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:114px;
  width:40px;
  height:40px;
}
#u8218_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:93px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8219 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1180px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u8219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u8219_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:114px;
  width:40px;
  height:40px;
}
#u8219_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  word-wrap:break-word;
}
#u8220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1491px;
  width:110px;
  height:70px;
}
#u8220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u8221 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1526px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#663333;
}
#u8221_seg0 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-4px;
  width:178px;
  height:8px;
}
#u8221_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-20px;
  width:40px;
  height:40px;
}
#u8221_text {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1185px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#993366;
}
#u8222_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:310px;
}
#u8222_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:280px;
  width:40px;
  height:40px;
}
#u8222_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:143px;
  width:100px;
  word-wrap:break-word;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:297px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC66;
}
#u8223_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8223_seg1 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:29px;
  width:135px;
  height:8px;
}
#u8223_seg2 {
  border-width:0px;
  position:absolute;
  left:-145px;
  top:13px;
  width:40px;
  height:40px;
}
#u8223_text {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u8224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:1320px;
  width:110px;
  height:70px;
}
#u8224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u8225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:72px;
  width:110px;
  height:70px;
}
#u8225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:107px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CC33FF;
}
#u8226_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:132px;
  height:8px;
}
#u8226_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-20px;
  width:40px;
  height:40px;
}
#u8226_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u8227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:23px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u8227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:1161px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u8228_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u8228_seg1 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:82px;
  width:239px;
  height:8px;
}
#u8228_seg2 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:66px;
  width:40px;
  height:40px;
}
#u8228_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u8229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:751px;
  width:346px;
  height:40px;
  color:#0099CC;
}
#u8229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u8230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:72px;
  width:110px;
  height:70px;
}
#u8230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
