body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u7036 {
  position:absolute;
  left:100px;
  top:100px;
  width:422px;
  height:829px;
}
#u7037 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7038 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:667px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7040 {
  position:absolute;
  left:421px;
  top:181px;
  width:1px;
  height:16px;
}
#u7041 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u7042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u7042 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u7043 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7044 {
  position:absolute;
  left:121px;
  top:230px;
  width:375px;
  height:1px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7046 {
  position:absolute;
  left:133px;
  top:200px;
  width:10px;
  height:16px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
}
#u7049 {
  position:absolute;
  left:129px;
  top:167px;
  width:106px;
  height:13px;
}
#u7050 {
  position:absolute;
  left:2px;
  top:-2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
}
#u7051 {
  position:absolute;
  left:259px;
  top:167px;
  width:102px;
  height:13px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:-2px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u7053 {
  position:absolute;
  left:385px;
  top:167px;
  width:100px;
  height:13px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7055 {
  position:absolute;
  left:272px;
  top:201px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
}
#u7057 {
  position:absolute;
  left:131px;
  top:241px;
  width:355px;
  height:95px;
}
#u7058 {
  position:absolute;
  left:2px;
  top:40px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7059 {
  position:absolute;
  left:147px;
  top:257px;
  width:50px;
  height:50px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7061 {
  position:absolute;
  left:206px;
  top:259px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7064 {
  position:absolute;
  left:225px;
  top:289px;
  width:57px;
  height:16px;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7066 {
  position:absolute;
  left:206px;
  top:290px;
  width:15px;
  height:15px;
  font-size:6px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  word-wrap:break-word;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7069 {
  position:absolute;
  left:410px;
  top:267px;
  width:65px;
  height:30px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u7072 {
  position:absolute;
  left:421px;
  top:282px;
  width:12px;
  height:1px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u7074 {
  position:absolute;
  left:427px;
  top:276px;
  width:1px;
  height:12px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u7076 {
  position:absolute;
  left:436px;
  top:275px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF9900;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
}
#u7078 {
  position:absolute;
  left:131px;
  top:346px;
  width:355px;
  height:95px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:40px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7080 {
  position:absolute;
  left:147px;
  top:362px;
  width:50px;
  height:50px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7082 {
  position:absolute;
  left:206px;
  top:364px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7085 {
  position:absolute;
  left:225px;
  top:394px;
  width:57px;
  height:16px;
}
#u7086 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7087 {
  position:absolute;
  left:206px;
  top:395px;
  width:15px;
  height:15px;
  font-size:6px;
}
#u7088 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  word-wrap:break-word;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 0.686274509803922);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7089 {
  position:absolute;
  left:410px;
  top:372px;
  width:65px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u7090 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.129411764705882);
}
#u7091 {
  position:absolute;
  left:131px;
  top:451px;
  width:355px;
  height:95px;
}
#u7092 {
  position:absolute;
  left:2px;
  top:40px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7093 {
  position:absolute;
  left:147px;
  top:467px;
  width:50px;
  height:50px;
}
#u7094 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7095 {
  position:absolute;
  left:206px;
  top:469px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7096 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7098 {
  position:absolute;
  left:225px;
  top:499px;
  width:57px;
  height:16px;
}
#u7099 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7100 {
  position:absolute;
  left:206px;
  top:500px;
  width:15px;
  height:15px;
  font-size:6px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  word-wrap:break-word;
}
#u7102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 0.686274509803922);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7102 {
  position:absolute;
  left:410px;
  top:477px;
  width:65px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u7103 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7104 {
  position:absolute;
  left:278px;
  top:561px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7106 {
  position:absolute;
  left:135px;
  top:236px;
  width:265px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u7107 {
  position:absolute;
  left:578px;
  top:387px;
  width:412px;
  height:84px;
  font-size:16px;
  line-height:28px;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u7109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u7109 {
  position:absolute;
  left:578px;
  top:259px;
  width:436px;
  height:112px;
  font-size:16px;
  line-height:28px;
}
#u7110 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u7111_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:87px;
  height:22px;
}
#u7111p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:69px;
  height:2px;
}
#u7111p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:89px;
  height:22px;
}
#u7111p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u7111p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u7111p002 {
  position:absolute;
  left:51px;
  top:-10px;
  width:22px;
  height:22px;
}
#u7111p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u7111.compound {
  width:0px;
  height:0px;
}
#u7111 {
  position:absolute;
  left:485px;
  top:282px;
  width:67px;
  height:2px;
}
#u7112 {
  position:absolute;
  left:2px;
  top:-7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7113_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:87px;
  height:22px;
}
#u7113p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:69px;
  height:2px;
}
#u7113p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:89px;
  height:22px;
}
#u7113p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u7113p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u7113p002 {
  position:absolute;
  left:51px;
  top:-10px;
  width:22px;
  height:22px;
}
#u7113p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u7113.compound {
  width:0px;
  height:0px;
}
#u7113 {
  position:absolute;
  left:485px;
  top:386px;
  width:67px;
  height:2px;
}
#u7114 {
  position:absolute;
  left:2px;
  top:-7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7115 {
  position:absolute;
  left:121px;
  top:175px;
  width:57px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
