body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:174px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:93px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:214px;
  width:658px;
  height:84px;
  font-size:16px;
}
#u7819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  word-wrap:break-word;
}
#u7820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:360px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:400px;
  width:658px;
  height:21px;
  font-size:16px;
}
#u7821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  word-wrap:break-word;
}
#u7822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:292px;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1158px;
  width:744px;
  height:292px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#666666;
  text-align:right;
}
#u7822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:263px;
  width:740px;
  word-wrap:break-word;
}
#u7823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:207px;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:841px;
  width:744px;
  height:207px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#666666;
  text-align:right;
}
#u7823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:740px;
  word-wrap:break-word;
}
#u7824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:855px;
  width:207px;
  height:175px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:203px;
  word-wrap:break-word;
}
#u7825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:750px;
  width:658px;
  height:81px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:864px;
  width:177px;
  height:157px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  word-wrap:break-word;
}
#u7827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:864px;
  width:177px;
  height:72px;
}
#u7827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  word-wrap:break-word;
}
#u7828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:left;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:855px;
  width:366px;
  height:175px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:left;
}
#u7828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:362px;
  word-wrap:break-word;
}
#u7829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:864px;
  width:159px;
  height:157px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:155px;
  word-wrap:break-word;
}
#u7830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:864px;
  width:159px;
  height:157px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:155px;
  word-wrap:break-word;
}
#u7831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:637px;
  width:279px;
  height:53px;
}
#u7831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  word-wrap:break-word;
}
#u7832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:75px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1073px;
  width:658px;
  height:75px;
}
#u7832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:654px;
  word-wrap:break-word;
}
#u7833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:762px;
  width:142px;
  height:53px;
}
#u7833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:789px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u7834_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u7834_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7834_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7834_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1150px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u7835_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u7835_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:17px;
  width:40px;
  height:40px;
}
#u7835_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:690px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u7836_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u7836_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:42px;
  width:40px;
  height:40px;
}
#u7836_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#3366FF;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:700px;
  width:64px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#3366FF;
}
#u7837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:831px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u7838_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:237px;
}
#u7838_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:207px;
  width:40px;
  height:40px;
}
#u7838_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u7839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#339966;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1157px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#339966;
}
#u7839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1355px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u7840_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:140px;
}
#u7840_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:110px;
  width:40px;
  height:40px;
}
#u7840_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:75px;
  background:inherit;
  background-color:rgba(102, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1501px;
  width:492px;
  height:75px;
}
#u7841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:488px;
  word-wrap:break-word;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1431px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u7842_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u7842_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:25px;
  width:9px;
  height:8px;
}
#u7842_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:25px;
  width:8px;
  height:36px;
}
#u7842_seg3 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:35px;
  width:40px;
  height:40px;
}
#u7842_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:1539px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF9933;
}
#u7843_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u7843_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-20px;
  width:40px;
  height:40px;
}
#u7843_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:1501px;
  width:117px;
  height:75px;
  color:#FFFFFF;
}
#u7844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:113px;
  word-wrap:break-word;
}
#u7845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:762px;
  width:472px;
  height:53px;
}
#u7845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:468px;
  word-wrap:break-word;
}
#u7846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:864px;
  width:81px;
  height:71px;
}
#u7846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:77px;
  word-wrap:break-word;
}
#u7847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:864px;
  width:79px;
  height:71px;
}
#u7847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:75px;
  word-wrap:break-word;
}
#u7848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:864px;
  width:159px;
  height:71px;
}
#u7848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  word-wrap:break-word;
}
#u7849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:637px;
  width:277px;
  height:53px;
}
#u7849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:273px;
  word-wrap:break-word;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:637px;
  width:109px;
  height:53px;
}
#u7850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u7851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1200px;
  width:580px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1274px;
  width:335px;
  height:81px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7853 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1274px;
  width:256px;
  height:157px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#EB1F85;
  text-align:right;
}
#u7853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7854 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1211px;
  width:562px;
  height:53px;
}
#u7854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:558px;
  word-wrap:break-word;
}
#u7855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1284px;
  width:317px;
  height:60px;
}
#u7855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:313px;
  word-wrap:break-word;
}
#u7856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:51px;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1365px;
  width:234px;
  height:51px;
}
#u7856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:230px;
  word-wrap:break-word;
}
#u7857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1284px;
  width:234px;
  height:60px;
}
#u7857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:230px;
  word-wrap:break-word;
}
#u7858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:583px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
