body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1108px;
}
#u12046 {
  position:absolute;
  left:89px;
  top:52px;
  width:364px;
  height:1108px;
}
#u12047 {
  position:absolute;
  left:2px;
  top:546px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12048 {
  position:absolute;
  left:180px;
  top:208px;
  width:104px;
  height:79px;
}
#u12049 {
  position:absolute;
  left:10px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
