body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1064px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:908px;
}
#u169 {
  position:absolute;
  left:162px;
  top:51px;
  width:902px;
  height:908px;
}
#u170 {
  position:absolute;
  left:2px;
  top:446px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
