body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:522px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u7602 {
  position:absolute;
  left:100px;
  top:100px;
  width:422px;
  height:829px;
}
#u7603 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7604 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:667px;
}
#u7605 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7606 {
  position:absolute;
  left:421px;
  top:181px;
  width:1px;
  height:16px;
}
#u7607 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u7608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u7608 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u7609 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7610 {
  position:absolute;
  left:121px;
  top:230px;
  width:375px;
  height:1px;
}
#u7611 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7612 {
  position:absolute;
  left:133px;
  top:200px;
  width:10px;
  height:16px;
}
#u7613 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
}
#u7615 {
  position:absolute;
  left:129px;
  top:167px;
  width:106px;
  height:13px;
}
#u7616 {
  position:absolute;
  left:2px;
  top:-2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
}
#u7617 {
  position:absolute;
  left:259px;
  top:167px;
  width:102px;
  height:13px;
}
#u7618 {
  position:absolute;
  left:2px;
  top:-2px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u7619 {
  position:absolute;
  left:385px;
  top:167px;
  width:100px;
  height:13px;
}
#u7620 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7621 {
  position:absolute;
  left:272px;
  top:202px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u7622 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7623 {
  position:absolute;
  left:456px;
  top:205px;
  width:29px;
  height:16px;
}
#u7624 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7625 {
  position:absolute;
  left:121px;
  top:231px;
  width:375px;
  height:70px;
}
#u7626 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7627 {
  position:absolute;
  left:120px;
  top:301px;
  width:375px;
  height:70px;
}
#u7628 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7629 {
  position:absolute;
  left:121px;
  top:371px;
  width:375px;
  height:70px;
}
#u7630 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7631 {
  position:absolute;
  left:121px;
  top:441px;
  width:375px;
  height:70px;
}
#u7632 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7633 {
  position:absolute;
  left:121px;
  top:511px;
  width:375px;
  height:70px;
}
#u7634 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7636 {
  position:absolute;
  left:164px;
  top:245px;
  width:91px;
  height:16px;
}
#u7637 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7638 {
  position:absolute;
  left:164px;
  top:266px;
  width:315px;
  height:5px;
}
#u7639 {
  position:absolute;
  left:2px;
  top:-6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7640 {
  position:absolute;
  left:168px;
  top:273px;
  width:38px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7641 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u7642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7642 {
  position:absolute;
  left:165px;
  top:266px;
  width:151px;
  height:5px;
}
#u7643 {
  position:absolute;
  left:2px;
  top:-6px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7644 {
  position:absolute;
  left:423px;
  top:276px;
  width:57px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7645 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7646 {
  position:absolute;
  left:163px;
  top:315px;
  width:119px;
  height:16px;
}
#u7647 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u7648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7648 {
  position:absolute;
  left:163px;
  top:336px;
  width:315px;
  height:5px;
}
#u7649 {
  position:absolute;
  left:2px;
  top:-6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7650 {
  position:absolute;
  left:167px;
  top:343px;
  width:38px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7651 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u7652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7652 {
  position:absolute;
  left:164px;
  top:336px;
  width:151px;
  height:5px;
}
#u7653 {
  position:absolute;
  left:2px;
  top:-6px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7654 {
  position:absolute;
  left:422px;
  top:346px;
  width:57px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7655 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7656 {
  position:absolute;
  left:164px;
  top:385px;
  width:133px;
  height:16px;
}
#u7657 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u7658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7658 {
  position:absolute;
  left:164px;
  top:406px;
  width:315px;
  height:5px;
}
#u7659 {
  position:absolute;
  left:2px;
  top:-6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7660 {
  position:absolute;
  left:168px;
  top:413px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7661 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7662 {
  position:absolute;
  left:165px;
  top:406px;
  width:51px;
  height:5px;
}
#u7663 {
  position:absolute;
  left:2px;
  top:-6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7664 {
  position:absolute;
  left:423px;
  top:416px;
  width:57px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7665 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7666 {
  position:absolute;
  left:164px;
  top:455px;
  width:147px;
  height:16px;
}
#u7667 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u7668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7668 {
  position:absolute;
  left:164px;
  top:476px;
  width:315px;
  height:5px;
}
#u7669 {
  position:absolute;
  left:2px;
  top:-6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7670 {
  position:absolute;
  left:168px;
  top:483px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7671 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7672 {
  position:absolute;
  left:445px;
  top:486px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7673 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7674 {
  position:absolute;
  left:163px;
  top:525px;
  width:133px;
  height:16px;
}
#u7675 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u7676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7676 {
  position:absolute;
  left:163px;
  top:546px;
  width:315px;
  height:5px;
}
#u7677 {
  position:absolute;
  left:2px;
  top:-6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7678 {
  position:absolute;
  left:167px;
  top:553px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7679 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7680 {
  position:absolute;
  left:417px;
  top:556px;
  width:68px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7681 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u7682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7682 {
  position:absolute;
  left:133px;
  top:258px;
  width:20px;
  height:20px;
}
#u7683 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7684 {
  position:absolute;
  left:133px;
  top:328px;
  width:20px;
  height:20px;
}
#u7685 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7686 {
  position:absolute;
  left:133px;
  top:398px;
  width:20px;
  height:20px;
}
#u7687 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7688 {
  position:absolute;
  left:133px;
  top:467px;
  width:20px;
  height:20px;
}
#u7689 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7690 {
  position:absolute;
  left:133px;
  top:539px;
  width:20px;
  height:20px;
}
#u7691 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7692 {
  position:absolute;
  left:121px;
  top:790px;
  width:375px;
  height:44px;
}
#u7693 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7694 {
  position:absolute;
  left:188px;
  top:804px;
  width:29px;
  height:16px;
}
#u7695 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7696 {
  position:absolute;
  left:401px;
  top:804px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u7697 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
