body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3881 {
  position:absolute;
  left:100px;
  top:100px;
  width:422px;
  height:829px;
}
#u3882 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3883 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:667px;
}
#u3884 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3885 {
  position:absolute;
  left:421px;
  top:181px;
  width:1px;
  height:16px;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u3887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u3887 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u3888 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3889 {
  position:absolute;
  left:121px;
  top:230px;
  width:375px;
  height:1px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u3891 {
  position:absolute;
  left:131px;
  top:200px;
  width:10px;
  height:16px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
}
#u3894 {
  position:absolute;
  left:129px;
  top:167px;
  width:106px;
  height:13px;
}
#u3895 {
  position:absolute;
  left:2px;
  top:-2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
}
#u3896 {
  position:absolute;
  left:259px;
  top:167px;
  width:102px;
  height:13px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:-2px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u3898 {
  position:absolute;
  left:385px;
  top:167px;
  width:100px;
  height:13px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3900 {
  position:absolute;
  left:272px;
  top:200px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:121px;
  top:231px;
  width:375px;
  height:48px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3904 {
  position:absolute;
  left:131px;
  top:247px;
  width:22px;
  height:16px;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u3906 {
  position:absolute;
  left:131px;
  top:286px;
  width:307px;
  height:15px;
  font-size:12px;
  color:#A1A1A1;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3908 {
  position:absolute;
  left:456px;
  top:204px;
  width:29px;
  height:16px;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3910_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:94px;
  height:22px;
}
#u3910p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:76px;
  height:2px;
}
#u3910p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:96px;
  height:22px;
}
#u3910p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u3910p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u3910p002 {
  position:absolute;
  left:58px;
  top:-10px;
  width:22px;
  height:22px;
}
#u3910p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u3910.compound {
  width:0px;
  height:0px;
}
#u3910 {
  position:absolute;
  left:506px;
  top:212px;
  width:74px;
  height:2px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:-7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u3912 {
  position:absolute;
  left:585px;
  top:199px;
  width:385px;
  height:140px;
  font-size:16px;
  line-height:28px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u3914 {
  position:absolute;
  left:121px;
  top:176px;
  width:61px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3915 {
  position:absolute;
  left:445px;
  top:185px;
  width:61px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
