body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:522px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u4084 {
  position:absolute;
  left:100px;
  top:100px;
  width:422px;
  height:829px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  position:absolute;
  left:421px;
  top:181px;
  width:1px;
  height:16px;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u4088 {
  position:absolute;
  left:121px;
  top:167px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u4089 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4090 {
  position:absolute;
  left:121px;
  top:230px;
  width:375px;
  height:1px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u4092 {
  position:absolute;
  left:131px;
  top:200px;
  width:10px;
  height:16px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
}
#u4095 {
  position:absolute;
  left:129px;
  top:167px;
  width:106px;
  height:13px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:-2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
}
#u4097 {
  position:absolute;
  left:259px;
  top:167px;
  width:102px;
  height:13px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:-2px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u4099 {
  position:absolute;
  left:385px;
  top:167px;
  width:100px;
  height:13px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4101 {
  position:absolute;
  left:272px;
  top:200px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4103 {
  position:absolute;
  left:121px;
  top:190px;
  width:60px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u4104 {
  position:absolute;
  left:271px;
  top:348px;
  width:80px;
  height:80px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4106 {
  position:absolute;
  left:270px;
  top:438px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
