body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41420 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u41421 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41422 {
  position:absolute;
  left:100px;
  top:100px;
  width:1440px;
  height:955px;
  opacity:0.3;
}
#u41423 {
  position:absolute;
  left:2px;
  top:470px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:967px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u41425 {
  position:absolute;
  left:100px;
  top:101px;
  width:1440px;
  height:967px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u41426 {
  position:absolute;
  left:16px;
  top:476px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:32px;
}
#u41429 {
  position:absolute;
  left:760px;
  top:449px;
  width:97px;
  height:32px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:32px;
}
#u41430 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u41431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u41431 {
  position:absolute;
  left:507px;
  top:481px;
  width:576px;
  height:62px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u41432 {
  position:absolute;
  left:0px;
  top:16px;
  width:576px;
  word-wrap:break-word;
}
#u41433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:79px;
}
#u41433 {
  position:absolute;
  left:762px;
  top:347px;
  width:73px;
  height:79px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:144px;
  color:#52C41A;
}
#u41434 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41435 {
  position:absolute;
  left:471px;
  top:465px;
  width:32px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u41436 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u41437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41437 {
  position:absolute;
  left:1079px;
  top:465px;
  width:32px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u41438 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u41439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41439 {
  position:absolute;
  left:760px;
  top:275px;
  width:72px;
  height:72px;
  opacity:0;
  color:#FFFFFF;
}
#u41440 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u41441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41441 {
  position:absolute;
  left:760px;
  top:561px;
  width:72px;
  height:72px;
  opacity:0;
  color:#FFFFFF;
}
#u41442 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u41443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41443 {
  position:absolute;
  left:203px;
  top:142px;
  width:152px;
  height:49px;
}
#u41444 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41445 {
  position:absolute;
  left:365px;
  top:154px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41446 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41447 {
  position:absolute;
  left:729px;
  top:571px;
  width:140px;
  height:40px;
}
#u41448 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
