body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#8400FF;
}
#u9616 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:1325px;
  width:168px;
  height:109px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#8400FF;
}
#u9616 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9616_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:174px;
}
#u9617 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1082px;
  width:184px;
  height:174px;
  display:flex;
}
#u9617 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9617_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:407px;
}
#u9618 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:556px;
  width:369px;
  height:407px;
  display:flex;
}
#u9618 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9618_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:81px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:81px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9620 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9620_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9621 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9621 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9621.mouseOver {
}
#u9621_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9622 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9622 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9622_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9622.mouseOver {
}
#u9622_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u9623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u9623 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9623_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u9623.mouseOver {
}
#u9623_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9624 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9624 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9624_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9624.mouseOver {
}
#u9624_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u9625 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u9625 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9625_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u9625.mouseOver {
}
#u9625_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9626 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9626 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9626_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9626.mouseOver {
}
#u9626_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9627 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9627 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9627_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u9627.mouseOver {
}
#u9627_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u9628 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:68px;
  width:25px;
  height:13px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9628 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9628_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1600px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9629 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9629_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9630 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9630 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9630_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9630.mouseOver {
}
#u9630_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9631 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9631 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9631_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9631.mouseOver {
}
#u9631_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9632_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632.mouseOver {
}
#u9632_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u9633 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:68px;
  width:25px;
  height:13px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9633 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9633_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1600px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9634 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9634_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9635 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9635 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9635_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9635.mouseOver {
}
#u9635_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9636 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9636 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9636_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9636.mouseOver {
}
#u9636_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9637 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9637 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9637_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9637.mouseOver {
}
#u9637_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(147, 202, 165, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9638 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:88px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9638 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9638_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9638.mouseOver {
}
#u9638_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#999999;
}
#u9639 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:325px;
  width:42px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#999999;
}
#u9639 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9639_text {
  border-width:0px;
  white-space:nowrap;
}
#u9640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u9640 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:210px;
  width:168px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u9640 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9640_text {
  border-width:0px;
  white-space:nowrap;
}
#u9641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u9641 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:344px;
  width:838px;
  height:95px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u9641 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9641_text {
  border-width:0px;
  white-space:nowrap;
}
#u9642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9642 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:604px;
  width:100px;
  height:60px;
  display:flex;
}
#u9642 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9642_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9643 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1374px;
  width:100px;
  height:60px;
  display:flex;
}
#u9643 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9643_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9644 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:468px;
  width:110px;
  height:70px;
  display:flex;
}
#u9644 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9644_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9645 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:343px;
  width:100px;
  height:60px;
  display:flex;
}
#u9645 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9645_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9646 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:236px;
  width:100px;
  height:60px;
  display:flex;
}
#u9646 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9646_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9647 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:733px;
  width:100px;
  height:60px;
  display:flex;
}
#u9647 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9647_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9648 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:871px;
  width:100px;
  height:60px;
  display:flex;
}
#u9648 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9648_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9649 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:664px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u9649_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u9649_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u9649_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u9650 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:793px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u9650_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u9650_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u9650_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u9651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u9651 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:599px;
  width:110px;
  height:70px;
  display:flex;
  color:#D9001B;
}
#u9651 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9651_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9652 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:403px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u9652_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u9652_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u9652_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u9653 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:986px;
  width:100px;
  height:60px;
  display:flex;
  color:#02A7F0;
}
#u9653 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9653_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8400FF;
}
#u9654 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:728px;
  width:110px;
  height:70px;
  display:flex;
  color:#8400FF;
}
#u9654 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9654_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9655 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:763px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#B8741A;
}
#u9655_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:180px;
  height:8px;
}
#u9655_seg1 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9655_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u9656 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:901px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#B8741A;
}
#u9656_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u9656_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-142px;
  width:8px;
  height:146px;
}
#u9656_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-142px;
  width:60px;
  height:8px;
}
#u9656_seg3 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-148px;
  width:20px;
  height:20px;
}
#u9656_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
}
#u9657 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:931px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u9657_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u9657_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u9657_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9658 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:986px;
  width:100px;
  height:60px;
  display:flex;
}
#u9658 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9658_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9659 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1139px;
  width:100px;
  height:60px;
  display:flex;
}
#u9659 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9659_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9660 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1046px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u9660_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u9660_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u9660_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9661 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:538px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u9661_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u9661_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u9661_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9662 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:634px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9662_seg0 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-4px;
  width:157px;
  height:8px;
}
#u9662_seg1 {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9662_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u9663 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:798px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9663_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:192px;
}
#u9663_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:174px;
  width:22px;
  height:22px;
}
#u9663_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9664 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:1016px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9664_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:185px;
  height:8px;
}
#u9664_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-11px;
  width:22px;
  height:22px;
}
#u9664_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u9665 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1345px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u9665 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9665_text {
  border-width:0px;
  white-space:nowrap;
}
#u9666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u9666 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1159px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u9666 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9666_text {
  border-width:0px;
  white-space:nowrap;
}
#u9667 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9667_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:139px;
  height:8px;
}
#u9667_seg1 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9667_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9668 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1199px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9668_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u9668_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:79px;
  width:20px;
  height:20px;
}
#u9668_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9669 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:296px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9669_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9669_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u9669_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9670 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:1046px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9670_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:303px;
}
#u9670_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:286px;
  width:20px;
  height:20px;
}
#u9670_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u9671 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1159px;
  width:70px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u9671 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9671_text {
  border-width:0px;
  white-space:nowrap;
}
#u9672 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#A30014;
}
#u9672_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u9672_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9672_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9673 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1528px;
  width:1199px;
  height:210px;
}
#u9674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u9674 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9674_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9675 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:0px;
  width:511px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u9675 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9675_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9676 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:0px;
  width:530px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u9676 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9676_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:158px;
  height:30px;
  display:flex;
}
#u9677 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9677_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9678 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:30px;
  width:511px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9678 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9678_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9679 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:30px;
  width:530px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9679 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9679_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:158px;
  height:30px;
  display:flex;
}
#u9680 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9680_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9681 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:60px;
  width:511px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9681 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9681_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9682 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:60px;
  width:530px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9682 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9682_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:158px;
  height:30px;
  display:flex;
}
#u9683 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9683_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9684 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:90px;
  width:511px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9684 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9684_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9685 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:90px;
  width:530px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9685 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9685_text {
  border-width:0px;
  word-wrap:break-word;
}
#u9686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:158px;
  height:30px;
  display:flex;
}
#u9686 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9686_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9687 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:120px;
  width:511px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9687 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9687_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9688 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:120px;
  width:530px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9688 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9688_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:158px;
  height:30px;
  display:flex;
}
#u9689 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9689_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9690 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:150px;
  width:511px;
  height:30px;
  display:flex;
}
#u9690 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9690_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9691 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:150px;
  width:530px;
  height:30px;
  display:flex;
}
#u9691 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9691_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u9692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:158px;
  height:30px;
  display:flex;
}
#u9692 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9692_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:30px;
}
#u9693 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:180px;
  width:511px;
  height:30px;
  display:flex;
}
#u9693 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9693_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u9694 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:180px;
  width:530px;
  height:30px;
  display:flex;
}
#u9694 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9694_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#8400FF;
}
#u9695 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1291px;
  width:98px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#8400FF;
}
#u9695 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9695_text {
  border-width:0px;
  white-space:nowrap;
}
#u9696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u9696 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1687px;
  width:518px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u9696 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u9696_text {
  border-width:0px;
  white-space:nowrap;
}
